<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
   <title>Index</title>
</h:head>
<h:body>
   <h:outputStylesheet library="css" name="style.css"  />

   <f:view>
      <h3>E-Cultura : Authentification</h3>
      <h:form>
         <h:panelGrid columns="2" styleClass="zoneEditor">
            <h:outputLabel value="Nom :"/>
            <h:inputText value="#{cartCtrl.nom}"
                         required="true"
                         requiredMessage="Le nom est obligatoire"/>
            <h:outputLabel value="Prénom :"/>
            <h:inputText value="#{cartCtrl.prenom}"
                         required="true"
                         requiredMessage="Le prénom est obligatoire"/>

            <h:commandButton
                    action="#{cartCtrl.doLogin}"
                    value="Login"/>

         </h:panelGrid>

      </h:form>
   </f:view>
</h:body>
</html>
