<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="5" cellspacing="1">
            <f:facet name="header">
                <h:outputText value = "Authentification"/>
            </f:facet>
            <h:outputLabel for="nomInput" value="nom"/>
            <h:inputText id="nomInput"
                         value="#{ctrl.client.nom}"
                         required="true" requiredMessage="nom Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput" tooltip="true" showDetail="true"/>
            <h:outputLabel for="passwordInput" value="password"/>
            <h:inputText id="passwordInput"
                         value="#{ctrl.client.password}"
                         required="true" requiredMessage="password Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="passwordInput" tooltip="true" showDetail="true"/>

        </h:panelGrid>

        <h:commandButton value="connexion" action="#{ctrl.doAuthentification}"/>
    </h:form>






</f:view>
</html>
