<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Index</title>
</h:head>
<h:body>
    <f:view>
        <h3>E-Cultura : Produits</h3>
        <h:form>
            <h:dataTable cellspacing="6" columns="2" value="#{cartCtrl.ensItems}" var="i">
                <h:column>
                    <f:facet name = "header">Titre</f:facet>
                    <h:outputText value="#{i.titre}" required="true" requiredMessage="Le nom est obligatoire"/>
                </h:column>

                <h:column>
                    <f:facet name = "header">Catégorie</f:facet>
                    <h:outputText value="#{i.categorie}" required="true" requiredMessage="obligatoire"/>
                </h:column>

                <h:column>
                    <f:facet name = "header">Prix</f:facet>
                    <h:outputText value="#{i.prix}" required="true" requiredMessage="obligatoire"/>
                </h:column>

                <h:column>
                    <f:facet name = "header">Panier</f:facet>
                    <h:commandButton value="Ajouter" action="#{cartCtrl.doSelectItem(i)}"/>
                </h:column>
            </h:dataTable>
        </h:form>

    </f:view>
</h:body>
</html>
