<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellspacing="1" cellpadding="5">
            <f:facet name="header">
                <h:outputText value="Ajout d'un Item"/>

            </f:facet>
            <h:outputLabel for="catInput" value="cat"/>
            <h:inputText id="catInput"
                         value="#{itemCtrl.newItem.categorie}"
                         required="true" requiredMessage="Catégorie obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="catInput" errorClass="error"/>

            <h:outputLabel for="titreInput" value="titre"/>
            <h:inputText id="titreInput"
                         value="#{itemCtrl.newItem.titre}"
                         required="true" requiredMessage="Catégorie obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="titreInput" errorClass="error"/>

            <h:outputLabel for="prixInput" value="prix"/>
            <h:inputText id="prixInput"
                         value="#{itemCtrl.newItem.prix}"
                         required="true" requiredMessage="Catégorie obligatoire"
                         size="20" maxlength="30">
            <f:convertNumber type="currency" pattern="####.##"/>
            </h:inputText>
            <h:message for="prixInput" errorClass="error"/>

            <h:outputLabel for="codeInput" value="code"/>
            <h:inputText id="codeInput"
                         value="#{itemCtrl.newItem.codeBarre}"
                         required="true" requiredMessage="Catégorie obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="codeInput" errorClass="error"/>

            <h:commandButton title="Enregistrer" value="Enregistrer" action="#{itemCtrl.doAddItem}"/>

        </h:panelGrid>
    </h:form>
</f:view>
</html>
