<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>

</h:head>
<h:body>
<f:view>

    <h:outputLabel value="Choisir un gangster à supprimer : "/>
    <h:form>


        <h:outputLabel for="orgNameInput" value="Organisation"/>
        <h:selectOneMenu value="#{gangCtrl.orgChoisiAffectationBoss}" id="orgNameInput" required="true"
                         requiredMessage="choix d'une organisation obligatoire">
            <f:selectItem itemLabel="Veuillez choisir un gangster" noSelectionOption="true"/>
            <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
            <f:selectItems value="#{gangCtrl.orgsAffect}" var="org"
                           itemLabel="#{org.orgName}"
                           itemValue="#{org.orgName}"/>
            <f:ajax render="gangsterID"/>
        </h:selectOneMenu>
        <h:message for="orgNameInput" showDetail="true"/>


        <br/>
        <h:outputLabel for="gangsterID" value="Gangster"/>
        <h:selectOneMenu value="#{gangCtrl.gangChoisiAffectation}" id="gangsterID" required="true" requiredMessage="choix d'un gangster obligatoire">
            <f:selectItem itemLabel="Veuillez choisir un gangster" noSelectionOption="true"/>
            <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
            <f:selectItems value="#{gangCtrl.gangsAffectOfOrg}" var="gang"
                           itemLabel="#{gang.gname} - #{gang.organisation.orgName}"
                           itemValue="#{gang.gname}"/>

        </h:selectOneMenu>
        <h:message for="gangsterID" showDetail="true"/>

        <br/>
        <h:commandButton value="Affecter comme boss de l'organisation"
                         action="#{gangCtrl.doAffectationBoss}"/>
    </h:form>
    <h:form>
        <h:commandButton value="Home"
                         action="#{gangCtrl.doHome}"/>
    </h:form>
</f:view>
</h:body>
</html>
