<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <h:outputLabel value="Choisir l'organisation à supprimer : "/>
    <h:form>
        <h:selectOneMenu value="#{orgCtrl.orgChoisi}" id="orgNameInput" required="true" requiredMessage="choix obligatoire">
            <f:selectItem itemLabel="Veuillez choisir une organisation" noSelectionOption="true"/>
            <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
            <f:selectItems value="#{orgCtrl.orgs}" var="org"
                           itemLabel="#{org.orgName}"
                           itemValue="#{org.orgName}"/>

        </h:selectOneMenu>
        <h:message for="orgNameInput" showDetail="true"/>
        <br/>
        <h:commandButton value="Supprimer"
                         action="#{orgCtrl.doRetraitOrganisation}"/>

    </h:form>
    <h:form>
        <h:commandButton value="Home"
                         action="#{orgCtrl.doHome}"/>
    </h:form>
</f:view>
</html>
