<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="5" cellspacing="1">
            <f:facet name="header">
                <h:outputText value = "Ajout d'un gangster"/>
            </f:facet>

            <h:outputLabel for="nomInput" value="nom gangster"/>
            <h:inputText id="nomInput"
                         value="#{gangCtrl.nouvGang.gname}"
                         required="true" requiredMessage="nom Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput"/>

            <h:outputLabel for="nicknameInput" value="nickname"/>
            <h:inputText id="nicknameInput"
                         value="#{gangCtrl.nouvGang.nickname}"
                         required="true" requiredMessage="pseudo Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nicknameInput"/>

            <h:outputLabel for="badnessInput" value="badness gangster"/>
            <h:inputText id="badnessInput"
                         value="#{gangCtrl.nouvGang.badness}"
                          requiredMessage="badness Obligatoire"
                         required="true" validatorMessage="Nombre compris entre 5 et 2000"
                         size="20" maxlength="30">
                <f:validateLongRange min="5" max="2000"/>
            </h:inputText>

            <h:message for="badnessInput"/>

        </h:panelGrid>

        <h:commandButton title="Enregistrer" value="Enregistrer" action="#{gangCtrl.doAjoutGangster}"/>
    </h:form>
    <h:form>
        <h:commandButton value="Home"
                         action="#{gangCtrl.doHome}"/>
    </h:form>

</f:view>
</html>
