<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <f:view>
      <h:outputLabel value="Hello, world"/>
      <br/>
      <h:form>
      <h:commandButton value="Supprimer une organisation" action="#{orgCtrl.doOrgSupp}"/>
      <br/>
      <h:commandButton value="Ajouter une organisation" action="#{orgCtrl.doOrgAjout}"/>
      <br/>
      <h:commandButton value="Visualiser les gangster d'une organisation" action="#{orgCtrl.doOrgGangsters}"/>
         <br/>
         <h:commandButton value="Supprimer un gangster" action="#{gangCtrl.doGangSupp}"/>
         <br/>
         <h:commandButton value="Ajouter un gangster" action="#{gangCtrl.doGangAjout}"/>
         <br/>
         <h:commandButton value="Affecter un gangster à une organisation" action="#{gangCtrl.doGangAffect}"/>
         <br/>
         <h:commandButton value="Affecter un boss à une organisation" action="#{gangCtrl.doGangBoss}"/>
         <br/>
         <h:commandButton value="Ajouter un job" action="#{jobCtrl.doJobAjout}"/>
         <br/>
         <h:commandButton value="Modifier un job" action="#{jobCtrl.doJobU}"/>
      </h:form>
   </f:view>
</html>
