<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:panelGrid columns="3" border="0" cellpadding="5" cellspacing="1">
            <f:facet name="header">
                <h:outputText value = "Ajout d'une organisation"/>
            </f:facet>

            <h:outputLabel for="nomInput" value="nom du job"/>
            <h:inputText id="nomInput"
                         value="#{jobCtrl.nouvJob.jobName}"
                         required="true" requiredMessage="nom Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="nomInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="scoreInput" value="Benefice"/>
            <h:inputText id="scoreInput"
                         value="#{jobCtrl.nouvJob.score}"
                         required="true" requiredMessage="description Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="scoreInput" tooltip="true" showDetail="true"/>

            <h:outputLabel for="setupCostInput" value="Investissement"/>
            <h:inputText id="setupCostInput"
                         value="#{jobCtrl.nouvJob.setupcost}"
                         required="true" requiredMessage="description Obligatoire"
                         size="20" maxlength="30"/>
            <h:message for="setupCostInput" tooltip="true" showDetail="true"/>


        </h:panelGrid>

        <h:commandButton title="Enregistrer" value="Enregistrer" action="#{jobCtrl.doAjoutJob}"/>
    </h:form>

</f:view>
</html>
