<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<title>ESSAIE</title>
</h:head>
<h:body>
<f:view>
    <h:outputLabel value="Gangsters de l'organisation : "/>
    <h:form>
        <h:selectOneMenu value="#{orgCtrl.orgNameChoisi}" id="orgNameInput" required="true" requiredMessage="choix obligatoire">
            <f:selectItem itemLabel="Veuillez choisir une organisation" noSelectionOption="true"/>
            <!-- noSelectionOption empeche de selectionner le message veuillez choisir une organisation-->
            <f:selectItems value="#{orgCtrl.ensOrgs}" var="org"
                           itemLabel="#{org.orgName}"
                           itemValue="#{org.orgName}"/>
            <f:ajax render="gangsterID"/>
        </h:selectOneMenu>
        <h:message for="orgNameInput" />
        <br/>


        <h:dataTable value="#{orgCtrl.gangster}" var="g" id="gangsterID">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="nom"/>
                </f:facet>
                <h:outputText value="#{g.gname}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="nickname"/>
                </f:facet>
                <h:outputText value="#{g.nickname}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="badness"/>
                </f:facet>
                <h:outputText value="#{g.badness}"/>
            </h:column>
        </h:dataTable>

    </h:form>
    <h:form>
        <h:commandButton value="Home"
                         action="#{orgCtrl.doHome}"/>
    </h:form>
</f:view>
</h:body>
</html>
